<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Open URL</string>
			<key>template</key>
			<string>{URL}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Send E-mail</string>
			<key>template</key>
			<string>{Email}</string>
			<key>type</key>
			<string>EmailAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tweet URL</string>
			<key>template</key>
			<string>http://twitter.com/share?text=scanned+this+barcode+with+ZBar+on+my+iPhone&amp;url={URL}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Product Search</string>
			<key>template</key>
			<string>http://google.com/search?q={GTIN-13}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google Name Search</string>
			<key>template</key>
			<string>http://google.com/search?q={Name}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amazon Product Search</string>
			<key>template</key>
			<string>http://www.amazon.com/s/?url=search-alias%3Daps&amp;field-keywords={GTIN-13}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ISBNdb</string>
			<key>template</key>
			<string>http://isbndb.com/search-all.html?kw={ISBN-13}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LibraryThing</string>
			<key>template</key>
			<string>http://www.librarything.com/search_works.php?q={ISBN-13}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Internet UPC Database</string>
			<key>template</key>
			<string>http://www.upcdatabase.com/item.asp?upc={GTIN-13}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Track UPS Package</string>
			<key>template</key>
			<string>http://wwwapps.ups.com/etracking/tracking.cgi?TypeOfInquiryNumber=T&amp;InquiryNumber1={UPS Package}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Track FedEx Package</string>
			<key>template</key>
			<string>http://www.fedex.com/Tracking?tracknumbers={FedEx Package}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Show QR Code</string>
			<key>template</key>
			<string>http://chart.googleapis.com/chart?cht=qr&amp;chs=540&amp;chl={QR Code}</string>
			<key>type</key>
			<string>LinkAction</string>
		</dict>
	</array>
</dict>
</plist>
