<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>value</key>
					<string>{URL}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>URL</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{Email}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>E-mail Address</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>value</key>
					<string>{GTIN-14}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>GTIN-14 (AI 01)</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{GTIN-13}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>GTIN-13</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{GTIN-12}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>GTIN-12</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{ISBN-13}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>ISBN-13</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string>Products</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>value</key>
					<string>{Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Any Package Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{FedEx Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Any FedEx Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{FedEx Ground Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>FedEx Ground Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{FedEx Express Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>FedEx Express Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{UPS Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Any UPS Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{UPS Ground Package}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>UPS Ground Tracking#</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string>Packages</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>value</key>
					<string>{Code 128}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Code 128</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{Code 39}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Code 39</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{Code 93}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Code 93</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{ITF}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Interleaved 2 of 5</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{DataBar}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>DataBar</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{DataBar Expanded}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>DataBar Expanded</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{EAN-13}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>EAN-13</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{UPC-A}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>UPC-A</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{EAN-8}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>EAN-8</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{UPC-E}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>UPC-E</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{QR Code}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>QR Code</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string>Raw Symbology Data</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>value</key>
					<string>{Name}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Scraped/Assigned Name</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>value</key>
					<string>{data}</string>
					<key>keyPath</key>
					<string>tag</string>
					<key>title</key>
					<string>Raw Barcode Data</string>
					<key>type</key>
					<string>RadioCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Select Substitution</string>
</dict>
</plist>
