<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>keyPath</key>
					<string>name</string>
					<key>title</key>
					<string>Name</string>
					<key>type</key>
					<string>StringCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>keyPath</key>
					<string>template</string>
					<key>title</key>
					<string>URL</string>
					<key>type</key>
					<string>URLTemplateCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>enum</key>
					<array>
						<dict>
							<key>title</key>
							<string>Use App Default</string>
							<key>value</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Always in Safari</string>
							<key>value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Always in ZBar</string>
							<key>value</key>
							<integer>2</integer>
						</dict>
					</array>
					<key>keyPath</key>
					<string>openMode</string>
					<key>title</key>
					<string>Open</string>
					<key>type</key>
					<string>EnumCell</string>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
			</array>
			<key>title</key>
			<string>Options</string>
		</dict>
	</array>
	<key>title</key>
	<string>Edit Link</string>
</dict>
</plist>
