<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>keyPath</key>
					<string>name</string>
					<key>title</key>
					<string>Name</string>
					<key>type</key>
					<string>StringCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Edit Folder</string>
</dict>
</plist>
