<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>defaultValue</key>
					<true/>
					<key>keyPath</key>
					<string>enableBeep</string>
					<key>title</key>
					<string>Enable Beep</string>
					<key>type</key>
					<string>ToggleCell</string>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>defaultValue</key>
					<true/>
					<key>keyPath</key>
					<string>enableBrowser</string>
					<key>title</key>
					<string>In-app Browser</string>
					<key>type</key>
					<string>ToggleCell</string>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>defaultValue</key>
					<true/>
					<key>keyPath</key>
					<string>autoLink</string>
					<key>title</key>
					<string>Open Link on Scan</string>
					<key>type</key>
					<string>ToggleCell</string>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>defaultValue</key>
					<true/>
					<key>keyPath</key>
					<string>enableScraping</string>
					<key>title</key>
					<string>Scrape Results</string>
					<key>type</key>
					<string>ToggleCell</string>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>defaultValue</key>
					<string>,</string>
					<key>enum</key>
					<array>
						<dict>
							<key>title</key>
							<string>Comma (,)</string>
							<key>value</key>
							<string>,</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Semicolon (;)</string>
							<key>value</key>
							<string>;</string>
						</dict>
					</array>
					<key>keyPath</key>
					<string>csvDelimeter</string>
					<key>title</key>
					<string>CSV Function Style</string>
					<key>type</key>
					<string>EnumCell</string>
					<key>valueType</key>
					<string>NSString</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>file</key>
					<string>symbologies</string>
					<key>keyPath</key>
					<string>enabledSymbologies</string>
					<key>title</key>
					<string>Enabled Symbologies</string>
					<key>type</key>
					<string>DisclosureCell</string>
					<key>valueType</key>
					<string>NSDictionary</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
