<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Symbologies</string>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>EAN/UPC</string>
			<key>cells</key>
			<array>
				<dict>
					<key>title</key>
					<string>EAN-13/UPC-A</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>13</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>EAN-8</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>8</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Linear</string>
			<key>cells</key>
			<array>
				<dict>
					<key>title</key>
					<string>Code 128</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>128</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Code 93</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>93</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Code 39</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>39</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Interleaved 2 of 5</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>25</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>DataBar (RSS)</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>34</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
				<dict>
					<key>title</key>
					<string>DataBar Expanded</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>35</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>2-D</string>
			<key>cells</key>
			<array>
				<dict>
					<key>title</key>
					<string>QR Code</string>
					<key>type</key>
					<string>CheckCell</string>
					<key>keyPath</key>
					<string>64</string>
					<key>defaultValue</key>
					<true/>
					<key>valueType</key>
					<string>NSNumber</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
